html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body{
    padding: 10px 20px 10px 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 2;
}

h1{
    font-size: 20px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000;
}

.home{
    padding: 0px !important;
    text-align: center;
    margin-top: 30vh;
    line-height: 2;
}

input{
    width: 80vw;
    font-size: 15px;
}

input[type="submit"]{
    width: 83vw;
}

.newExpense{
    background-color: black;
    color: white;
    border-radius: 50%;
    border: solid 0px;
    width: 50px;
    height: 50px;
    padding-bottom: 5px;
    font-size: 35px;
    position: fixed;
    bottom: 40px; right: 20px;
}

.footerButton{
    background-color: black;
    color: white;
    width: 50vw;
    height: 30px;
    font-size: 35px;
}
